<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Custom Bikes</title>
      <link rel="icon" href="{{url_for('static',filename='images/logo.jpg')}}" type=image/x-icon>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style type="text/css">
            body{
                font-family:"Lato", sans-serif;
            }
        </style>
    </head>

    <body id=custom_bikes>

        <!--Top Navigation Bar-->
        <div class="w3-top">
            <div class="w3-bar w3-orange w3-card">
              <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
              <a href="{{url_for('homepage')}}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
            </div>
          </div>
          
          <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
          <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
            <a href="{{url_for('homepage')}}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HOME</a>
          </div>


        <!--Welcome section-->
    <div class="w3-content" style="max-width:2000px;margin-top:46px"></div>
        <div id="welcome" class="w3-center">
            <h1>Welcome to the Customized Motorcycles section</h1>
            <p>Here you will find some of the Motorcycles that are customized by us.</p>
        </div>
        
        <div class="w3-black" id="services">
            <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
              <h2 class="w3-wide w3-center">Bike Categories</h2>
              <p class="w3-opacity w3-center"><i>check out for a new experience !!</i></p><br>

              <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                <div class="w3-third w3-margin-bottom">
                  <img src="{{url_for('static',filename='images/c1.jpg')}}" alt="Accessories" style="width:100%">
                  <div class="w3-container w3-orange">
                    <p><b>Cruiser Bikes</b></p>
                    <p>Cruiser bikes are ideal for both city riding and some light trail excursions</p>
                    <a href="{{url_for('Cruise')}}"><button class="w3-button w3-black w3-margin-bottom" >Explore</button></a>
                  </div>
                </div>
                <div class="w3-third w3-margin-bottom">
                  <img src="{{url_for('static',filename='images/s1.jpg')}}" alt="Events" style="width:100%">
                  <div class="w3-container w3-orange">
                    <p><b>Sport Bikes</b></p>
                    <p>Exciting to ride have thrilling handling which brings out the joy of riding a motorcycle</p>
                    <a href="{{url_for('Sports')}}"><button class="w3-button w3-black w3-margin-bottom">Explore</button></a>
                  </div>
                </div>
                <div class="w3-third w3-margin-bottom">
                  <img src="{{url_for('static',filename='images/d1.jpg')}}" alt="Bike" style="width:100%">
                  <div class="w3-container w3-orange">
                    <p><b>Dirt Bikes</b></p>
                    <p>Dirt bikes are lightweight, off-road motorcycles built with a rugged frame</p>
                    <a href="{{url_for('Dirt')}}"><button class="w3-button w3-black w3-margin-bottom">Explore</button></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
        
        <!--Footer-->
        <footer class="w3-container w3-padding-64  w3-center w3-orange">
            <!--Social media handles-->
            <h1><i>So thats all from us. For more check out our social media sites !!</i></h1>
        </footer>
    </body>
</html>