<!DOCTYPE html>
<html lang="en">
  <title>developer</title>
  <link rel="icon" href="{{url_for('static',filename='images/logo.jpg')}}" type=image/x-icon>
  </head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif;
      background-color:white;}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-orange w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{url_for('homepage')}}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="{{url_for('homepage')}}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HOME</a>
</div>

<div class="w3-black" id="services">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">DEVELOPER DETAILS</h2>
      <p class="w3-opacity w3-center"><i>For a website to be built and bring it to life there are a lot of people and efforts involved. Here are the details of the 
          developers who took up this idea and built this website.<datagrid></datagrid></i></p><br>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="static/images/AISHI2.jpg" alt="AISHWARYA" style="width:100%">
          <div class="w3-container w3-orange">
            <p><b>AISHWARYA</b></p>
            <p>3rd year Information Science and Engineering student at The National Institute of Engineering, Mysore.</p>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="static/images/THANU1.jpg" alt="THANMAYA GB" style="width:100%">
          <div class="w3-container w3-orange">
            <p><b>THANMAYA GB</b></p>
            <p>3rd year Information Science and Engineering student at The National Institute of Engineering, Mysore.</p>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="static/images/PRIYA1.jpg" alt="PRIYANKA B RATHOD" style="width:100%">
          <div class="w3-container w3-orange">
            <p><b>PRIYANKA B RATHOD</b></p>
            <p>3rd year Information Science and Engineering student at The National Institute of Engineering, Mysore.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
   
    
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    
    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
    
    </body>
    </html>