<!DOCTYPE HTML>
<html>
<head>
	<title>Accessories</title>
    <link rel="icon" href="{{url_for('static',filename='images/logo.jpg')}}" type=image/x-icon>
	<style>
		.button {
  display: inline-block;
  padding: 15px 175px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.flex{
	display: flex;
	background-color: #666;
}

.flex > div{
  background-color: rgb(78, 238, 15);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
	</style>
<title>BIKER SHOP</title>
<script>
	localStorage.setItem("accv", "5004");
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Nuevo Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<link href="{{url_for('static',filename='css/style.css')}}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{{url_for('static',filename='css/bootstrap.css')}}" rel='stylesheet' type='text/css' />	
<!-- start menu -->
<link href="{{url_for('static',filename='css/megamenu.css')}}" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,700' rel='stylesheet' type='text/css'>
 <link href='//fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
</head>
<body>
	<div class="w3-top">
		<div class="w3-bar w3-orange w3-card">
		  <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
		  <a href="{{url_for('homepage')}}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
		</div>
	  </div>
	
	<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
	<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
	  <a href="{{url_for('homepage')}}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HOME</a>
	</div>
	
	<!-- Page content -->
	<div class="w3-content" style="max-width:2000px;margin-top:46px">
	
	</div>
	
	<center><h1 style="font-size: 1in;"><bold><i>Accessories</i></bold></h1></center>

		 </ul> 
	</div>
</div>

	<div class="products">
		
				<div class="col-md-5 grid-single">		
						
						<center><img src="{{url_for('static',filename='images/three.jpg')}}" style="width: %" ></center>
						<!-- FlexSlider -->
						

					</div>	
				<div class="col-md-7 single-text">
					<div class="details-left-info simpleCart_shelfItem">
						<h3>Accessories Latest</h3>
						<p class="availability">Availability: <span class="color">In stock</span></p>
						<div class="price_single">
							
							<p style="font-size: large;">
								M.R.P : <span class="reducedfrom" style="font-size: large;">₹ 350.00</span><br/>
								Price : <span class="actual item_price" style="font-size: large;">₹ 199.00</span>
							</p>
							<!-- <a href="#">click for offer</a> -->
						</div>
						<h2 class="quick">Quick Overview</h2>
                        <p class="quick_desc" style="font-size: medium;"> 13 In 1 Toolkit bike bicycle repair toolkit contains:- 6 Types of Inner Hex Allen Key + 2 Types of Screwdriver + 1 Sleeve Extension Rod + 3 Socket Hex Wrench (3 Sizes) + 1 Solid Wrench (3 Sizes 8,10,15 MM).
                             This multi-functional bike bicycle tool is portable, lightweight and the perfect accessories for general bike and bicycle repairs. 
                             The complete mechanical toolkit is a must have for every cycle enthusiast for day to day minor or major repairs
						<h3>Specification</h3>	
						<ul>
							<li>Made up of solid steel for longer and durable service. In-Box Contents: 1 Multifunctional Toolkit</li>
							<li>This multi-functional bike bicycle tool is portable, lightweight and the perfect accessories for general bike and bicycle repairs.</li>
							<li>13 In 1 Toolkit bike bicycle repair toolkit contains:-
<pre>+ 6 Types of Inner Hex Allen Key 
+ 2 Types of Screwdriver
+ 1 Sleeve Extension Rod 
+ 3 Socket Hex Wrench (3 Sizes) 
+ 1 Solid Wrench (3 Sizes 8,10,15 MM)</pre></li>
							<li>The complete mechanical toolkit is a must have for every cycle enthusiast for day to day minor or major repairs. 
                                No hassle to go to mechanic shop again and again.</li>
							<li>Shock absorbing</li>
							
						</ul>
						<br \>
						<br \>
						
					
				<div class="single-but item_add" style="margin-top: 25px;">
					<form action="{{url_for('form')}}" method="POST">
						<input type="text" name="glon" value="199" style="display: none;" >
						<a href="{{url_for('prithashi_Buy')}}"><button class="button">Buy</button></a>
					</form>
					
					
				</div>
		<div class="clearfix"></div>
	</div>
	
    <div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
  
    
  </div>
</div>					
</body>
</html>