<!DOCTYPE HTML>
<html>
<head>
	<title>Accessories</title>
    <link rel="icon" href="{{url_for('static',filename='images/logo.jpg')}}" type=image/x-icon>
	<style>
		.button {
  display: inline-block;
  padding: 15px 175px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
	</style>
<title>BIKER SHOP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Nuevo Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applijegleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{{url_for('static',filename='css/style.css')}}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{{url_for('static',filename='css/bootstrap.css')}}" rel='stylesheet' type='text/css' />	
<script src="js/jquery-1.11.1.min.js"></script>
<!-- start menu -->
<link href="{{url_for('static',filename='css/megamenu.css')}}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="js/menu_jquery.js"></script>
<script src="js/simpleCart.min.js"> </script>
<script src="js/bootstrap.js"> </script>
<!--web-fonts-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,700' rel='stylesheet' type='text/css'>
 <link href='//fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<script src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

<!--/script-->
<!-- <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script> -->
<!-- the jScrollPane script -->
<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
		<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
		</script>
<!-- //the jScrollPane script -->
</head>
<body>
	<div class="w3-top">
		<div class="w3-bar w3-orange w3-card">
		  <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
		  <a href="{{url_for('homepage')}}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
		</div>
	  </div>
	
	<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
	<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
	  <a href="{{url_for('homepage')}}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HOME</a>
	</div>
	
	<!-- Page content -->
	<div class="w3-content" style="max-width:2000px;margin-top:46px">
	
	</div>
	
	<center><h1 style="font-size: 1in;"><bold><i>Accessories</i></bold></h1></center>
		 </ul> 
	</div>
</div>
</div>
 <!--start-content-->
<!-- products -->
	<div class="products">
		
				<div class="col-md-5 grid-single">		
						
						<center><img src="{{url_for('static',filename='images/1_4.jpeg')}}" style="width: 80%;" ></center>
						<!-- FlexSlider -->
						<script src="js/imagezoom.js"></script>
						<script defer src="js/jquery.flexslider.js"></script>
						<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>

					</div>	
				<div class="col-md-7 single-text">
					<div class="details-left-info simpleCart_shelfItem">
						<h3>Accessories Latest</h3>
						<p class="availability">Availability: <span class="color">In stock</span></p>
						<div class="price_single">
							<span class="reducedfrom">₹799.00</span>
							<span class="actual item_price">₹349.00</span>
						</div>
						<h2 class="quick">Quick Overview</h2>
                        <p class="quick_desc" style="font-size: medium;"> Bike side rear view mirrors which are life saver of 
                            all the times are those main components of your bike through which a clear 180 degree view is achieved.
                             It not only provides a better look to your bike but also saves your bike in traffic.


						<ul>
							<li>Color: Black; Package Contents: 1 Handle Grip Side Mirror; Vehicle Compatibility: Ktm Dukebajaj Dominar,pulsar 150,180,200ns Tvs Ntorq Scooty Bike Royal
                            </li>
							<li>Suitable for use on fabric and leather seats</li>
							<li>
                                Product needs to be installed with help of professional fitment</li>
							<li>Material: made from premium quality material
                            </li>
							<li>It not only provides a better look to your bike but also saves your bike in traffic.

                        </li>
							
						</ul>
						<br \>
						<br \>
						<!-- <h3>Length</h3>
						<ul class="size">
							<li><a href="#">7</a></li>
							<li><a href="#">6</a></li>
						</ul> -->
                        <br />
                        <br />
                        

                        
					
				<div class="single-but item_add">

					<form action="{{url_for('form')}}" method="POST">
						<input type="text" name="glon" value="349" style="display: none;" >
						<a href="{{url_for('prithashi_Buy')}}"><button class="button">Buy</button></a>
					</form>
				</div>
		<div class="clearfix"></div>
	</div>
	
    <div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
  
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

			</div>
	</div>

								<script type="text/javascript" src="js/jquery.flexisel.js"></script>
								
								<script type="text/javascript">
								$(window).load(function() {
								    $(".flexiselDemo3").flexisel({
								        visibleItems: 5,
								        animationSpeed: 1000,
								        autoPlay: true,
								        autoPlaySpeed: 3000,            
								        pauseOnHover: true,
								        enableResponsiveBreakpoints: true,
								        responsiveBreakpoints: { 
								            portrait: { 
								                changePoint:480,
								                visibleItems: 2
								            }, 
								            landscape: { 
								                changePoint:640,
								                visibleItems: 3
								            },
								            tablet: { 
								                changePoint:768,
								                visibleItems: 3
								            }
								        }
								    });
								});
								</script>
						
				  </div>				
			</div>
 
		</div>
	</div>
	
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a> 


</body>
</html>